logging {
  level = "warn"
}

// -------------------------------------------------------------
// METRICS CONFIGURATION
// -------------------------------------------------------------
prometheus.exporter.unix "default" {
  include_exporter_metrics = true
  disable_collectors       = ["mdadm"]
}

prometheus.scrape "default" {
  targets = array.concat(
    prometheus.exporter.unix.default.targets,
    [{
      job         = "alloy",
      __address__ = "127.0.0.1:12345",
    }],
  )
  forward_to = [prometheus.remote_write.grafanacloud.receiver]
}

prometheus.remote_write "grafanacloud" {
  endpoint {
    url = "https://prometheus-prod-37-prod-ap-southeast-1.grafana.net/api/prom/push"

    basic_auth {
      username = sys.env("GRAFANA_CLOUD_PROM_USER")
      password = sys.env("GRAFANA_CLOUD_PROM_TOKEN")
    }
  }
}

// -------------------------------------------------------------
// LOGS CONFIGURATION
// -------------------------------------------------------------
local.file_match "varlogs" {
  path_targets = [{
    __path__ = "/var/log/*.log",
    job      = "varlogs",
  }]
}

loki.source.file "varlogs" {
  targets    = local.file_match.varlogs.targets
  forward_to = [loki.write.grafanacloud.receiver]
}

loki.write "grafanacloud" {
  endpoint {
    url = "https://logs-prod-020.grafana.net/loki/api/v1/push"

    basic_auth {
      username = sys.env("GRAFANA_CLOUD_LOKI_USER")
      password = sys.env("GRAFANA_CLOUD_LOKI_TOKEN")
    }
  }
}